/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.main-nav {
  width: 100%;
  height: 50px;
  background-color: #d1fff5;
  position: fixed;
}
.main-nav .nav-container {
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: row;
}
.main-nav h1 {
  margin-top: 7px;
  font-size: 3.5rem;
  color: #6e8298;
}
.main-nav nav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.main-nav nav a {
  font-size: 2rem;
  color: #6e8298;
  margin-top: 10px;
}
footer {
  width: 100%;
  height: 50px;
  background-color: #d1fff5;
}
footer p {
  text-align: center;
  color: #6e8298;
  padding-top: 10px;
}
.heading {
  width: 100%;
  padding: 50px 0 10px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid #d1fff5;
  background-color: #6e8298;
}
.heading .heading-img {
  width: 600px;
  border-radius: 10px;
}
.heading h1 {
  color: #d1fff5;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.home h2 {
  color: #6e8298;
  padding: 5px;
  text-align: center;
  padding: 8px;
  border-bottom: 5px solid #6e8298;
  margin-top: 50px;
}
.home .top-content {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  border-bottom: 5px solid #6e8298;
}
.home .top-content p {
  color: #6e8298;
  font-size: 1.8rem;
}
.home .top-content .top-text-content {
  padding: 20px;
}
.home .top-content .top-text-content .top-cotent-img {
  width: 500px;
  align-items: center;
}
.home .middle-content {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  border-bottom: 5px solid #6e8298;
}
.home .middle-content h2 {
  color: #6e8298;
  padding: 5px;
}
.home .middle-content p {
  color: #6e8298;
}
.home .middle-content .content {
  padding: 15px;
}
.home .middle-content .content .cotent-img {
  width: 300px;
}
