.home {
    
    background-color: @gray;
    .top {
        padding: 50px 0 10px;
        display: flex;
        justify-content: flex-end;
        border-bottom: 2px solid @lightblue;
        
        .top-img {
            width: 500px;
            border-radius: 10px;
        }

        h1 {
            color: @lightblue;
            text-align: center;
            letter-spacing: 5px;
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
        }
    }

    .middle-content {
        padding: 20px;
        margin-top: 20px;

        h2 {
            color: @lightblue;
            padding: 2px;
        }
        p {
            
        }

    }
} 
//home